<!doctype html>
<html ng-app="visualRegressionTesting">

<head>
    <meta charset="utf-8">
    <title>Visual Regression Testing</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="main.js"></script>

</head>

<body ng-controller="mainController">
    <div class="container">
        
      

        <div ng-hide="isExecuting">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="execute()">Generate Report</button>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Base Image</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Modified Image</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Difference</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Important info</h3>
                    </div>
                </div>

                <div class="report" ng-repeat="execution in listExec">
                    <div class="row">
                        <div class="col-md-12">{{execution.insertionDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{execution.beforeImgUri}}" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="{{execution.afterImgUri}}" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="{{execution.comparationImgUri}}" alt="">
                        </div>
                        <div class="col-md-3">
                            <p>
                                <strong>isSameDimensions:</strong> {{execution.comparation.isSameDimensions}}</p>
                            <p>
                                <strong>rawMisMatchPercentage:</strong> {{execution.comparation.rawMisMatchPercentage}}</p>
                            <p>
                                <strong>misMatchPercentage:</strong> {{execution.comparation.misMatchPercentage}}</p>
                            <p>
                                <strong>analysisTime:</strong> {{execution.comparation.analysisTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>